/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color: #222;
    bottom: 0;
    color: #fff;
    height: 60px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}

.footer-info {
    text-align: center;
}

/*--------------------------------------------*/

.align-center {
    text-align: center;
}

.timer {
    border: 2px solid grey;
    border-radius: 10px;
    display: none;
    opacity: 0.4;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 150px;
}

.social-buttons span {
    vertical-align: top !important;
}

